    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=comment.author.username) }}">
                    <img src="{{ comment.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
                posted on {{ moment(comment.timestamp).format('LLL') }}:
                <br>{{ comment.body }}
            </td>
            <td align="right">
                <a href="{{ url_for('comment_report_reasons', comment_id=comment.id) }}">
                    Reasons for report
                </a>
                <br>
                <p>
                    <form action="{{ url_for('ban_comment', comment_id=comment.id) }}" method="post">
                        {{ form2.hidden_tag() }}
                        <p>
                        {{ form2.reason.label }}<br>
                        {{ form2.reason(size=32) }}
                         </p>
                        {{ form2.submit(value='Ban') }} <!Submit button repurposed to Ban button>
                    </form>
                </p>
                <br>
                <p>
                    <form action="{{ url_for('dismiss_reported_comment', comment_id=comment.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Dismiss') }} <!Submit button repurposed to Dismiss button>
                    </form>
                </p>
            </td>
        </tr>
    </table>
