<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('profile', username = post.user.username) }}">
                <img src="{{ post.user.avatar(70) }}" />
            </a>
        </td>
        <td><a href='{{ url_for("profile", username = post.user.username) }}'>{{ post.user.badge }} {{ post.user.username }}</a>'s dare with {{ post.votes }} votes:
            <br>
            <a href='{{ url_for("view_dare", dare_id = post.id, prev = request.path) }}'>{{ post.dare }}</a> {{ moment(post.timestamp).fromNow() }}
        </td>
        {% if current_user == post.user %}
            <td align='right'>
                <form action="{{ url_for('delete_dare', dare_id = post.id) }}" method="POST">
                    {{ form3.hidden_tag() }}
                    {{ form3.submit(value='Delete dare', class_='btn btn-default') }}
                </form>
            </td>
        {% endif %}
    </tr>
</table>
<br>
