{% extends 'base.html' %}

{% block app_content %}
    <h2>New Reports</h2>
    {% if reports %}
        {% for report in reports %}
            <table class="table table-hover">
                <tr>
                    <td width="70px">
                        <a target='_blank' href='{{ report.page_of_report }}'>{{ report }}</a>
                        <br>
                        {{ report.content }}

                    </td>
                    <td>          
                        <form action='{{ url_for("new_reports", id = report.id) }}' method='POST'>
                            {{ form.hidden_tag() }}
                            <p>
                                Action Taken
                                <br>
                                {{ form.report(cols = 24, row = 3) }}
                                <br>
                                {% for error in form.report.errors %}
                                    <span style='color:red'>{{ error }}</span>
                                {% endfor %}
                            </p>
                            <p>{{ form.submit(class_='btn btn-default') }}</p>
                        </form>
                    </td>
                </tr>
            </table>        
        {% endfor %}
    {% else %}
        <h3>There are no reports! :)</h3>
    {% endif %}
    {% include '_paginate.html' %}
{% endblock %}
